.App {
  text-align: center;
  display: flex;
 
}

/* Ensure the container spans the entire viewport */
.app-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  min-height: 100vh; /* Full height of the viewport */

  overflow-x: hidden; /* 🔒 Prevent horizontal scroll */
}

/* Make Tabs (or the content area) grow to fill available space */
.tabs {
  flex: 1; /* Allow this area to grow and push the footer down */
}

/* Footer styling */
.fotter {
  flex-shrink: 0; /* Prevent the footer from shrinking or moving */
}





