/* Container for the tabs */
.tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
  }
  
  /* Tab buttons container */
  .tab-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
     
  }
  
  /* Individual tab button */
  .tab-button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(80, 80, 80);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 1.0s;
    border-radius: 30px; /* Rounded corners for a modern look */
  }
  .tab-button:hover
  {
    transform: scale(1.1); /* Slight zoom effect */
  }
  
  /* Active tab button style */
  .tab-button.active {
    background-color: rgb(31, 31, 31);
    font-weight: bold;
  }
  
  /* Tab content area */
  .tab-content {
    padding: 20px;
    background-color: rgb(31, 31, 31);
    color: white;
    width: 30%;
    border-radius: 20px; /* Rounded corners  */
  }
  