.fotter
{    
    /* From https://css.glass */
background: rgba(79, 70, 70, 0.2);
border-radius: 20px;

backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(79, 70, 70, 0.27);
    

    margin-top: 10%;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    
  
}
.footer-social {
    display: flex;
    gap: 20px;
    
  }
  
  .footer-social a {
    color: #fff;
    font-size: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
    font-size: 30px
  }
  
  .footer-social a:hover {
    transform: scale(1.2);
    color: #f39c12;
  }